<div>
  <mat-card>
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>{{category.name}}</mat-card-title>
    </mat-card-header>
    <mat-card-subtitle>
      {{category.description}}
    </mat-card-subtitle>
    <mat-card-content>
      <app-picture *ngIf="category.image" [image]="category.image"></app-picture>
    </mat-card-content>
    <mat-card-actions *ngIf="isAdmin">
      <button mat-raised-button id="editCategory"
              (click)="addOrEditCategory(category)">
        Edit
      </button>
      <button mat-button (click)="selectImage()">Choose image</button>
      <input #imageInput
             id="imageInput"
             style="visibility: hidden"
             type="file"
             accept="image/*"
             (change)="processFile(imageInput)">
      <button mat-raised-button (click)="deleteCategory(category)">Delete Category</button>
    </mat-card-actions>
  </mat-card>
</div>
