<div class="background" style="height: 100%">
  <mat-grid-list cols="4">
    <mat-grid-tile *ngFor="let category of categories">
      <app-category *ngIf="!authService.isAdmin()"
                    [category]="category"
                    [routerLink]="['/category/', category.id]"
                    [isAdmin]=false></app-category>

      <app-category *ngIf="authService.isAdmin()"
                    [category]="category"
                    (categoryEdited)="editCategory($event)"
                    (categoryDelete)="deleteCategory($event)"
                    [isAdmin]=true></app-category>
    </mat-grid-tile>
    <button mat-raised-button
            *ngIf="authService.isAdmin()"
            (click)="addCategory()">Add category
    </button>
  </mat-grid-list>
</div>
