<app-loading-spinner *ngIf="products.length < 1 && currentUserInfo.token" [isLoading]="isLoading"></app-loading-spinner>
<div *ngIf="!authService.isTokenExpired(); else loggedOut">
    <div *ngFor="let product of products" class="products">
      <app-product [product]="product" [isAdmin]="true"></app-product>
      <button mat-raised-button id="editProduct"
              (click)="editProduct(product)">
            Edit
      </button>
    </div>
</div>

<ng-template #loggedOut>
  <h3>Please login.</h3>
  <a mat-raised-button href="login" color="accent">Login</a>
</ng-template>

