<mat-toolbar color="accent" class="toolbar">
<!--  <button mat-button-->
<!--          id="menuButton"-->
<!--          (click)="enterMenu()">-->
<!--    <mat-icon>menu</mat-icon>-->
<!--  </button>-->

  <button mat-button
          id="title"
          (click)="enterMainPage()">
    {{restaurant.name}}
    <!--    <mat-icon>menu_book</mat-icon>-->
  </button>

  <button mat-button
          class="floatRight"
          id="shoppingCartButton"
          (click)="enterShoppingCart()">
    <mat-icon>shopping_cart</mat-icon>
    <div class="money">{{displayPrice()}} RON</div>
  </button>

  <button mat-button *ngIf="tokenStorage.getToken()"
          id="logout"
          (click)="logout()">
    Log Out
  </button>
</mat-toolbar>
