<form [formGroup]="addProductFormGroup">
  <mat-form-field class="centerForms">
    <input matInput formControlName="name" placeholder="Choose a name">
    <mat-error *ngIf="name.invalid">The name is required!</mat-error>
  </mat-form-field>
  <mat-form-field class="centerForms">
    <input matInput formControlName="description" placeholder="Choose a description">
    <mat-error *ngIf="description.invalid">The description is required!</mat-error>
  </mat-form-field>
  <mat-form-field class="centerForms">
    <input matInput formControlName="price" placeholder="Price">
    <mat-error *ngIf="price.invalid">The price is required!</mat-error>
  </mat-form-field>

  <mat-form-field class="centerForms" *ngIf="categories.length > 0">
    <input type="text" matInput placeholder="Choose a category" aria-label="Category" [matAutocomplete]="auto" [formControl]="stateCtrl">
    <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete" [displayWith]="displayFn">
      <mat-option *ngFor="let category of filteredCategories | async" [value]="category" (onSelectionChange)="selectCategory(category)">
        <span>{{category.name}}</span> |
        <small>{{category.description}}</small>
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>

  <button *ngIf="!data.isEditing"
          mat-raised-button type="submit" color="primary" class="centerForms"
          (click)="addProduct()">Add
  </button>

  <button *ngIf="data.isEditing"
    mat-raised-button type="submit" color="primary" class="centerForms"
          (click)="editProduct()">Save Changes
  </button>
</form>
