.example-card {
  max-width: 30%;
}

.outOfStock {
  opacity: 0.3;
}

.activeProduct {

}

.inputContainer{
  display: -webkit-flex; /* Safari */
  -webkit-flex-wrap: wrap; /* Safari 6.1+ */
  display: flex;
  flex-wrap: wrap;
  padding: 0;
}

.inputElement{
  height: 100%;
  width: 100%;
}
