<div>
  <mat-card [ngClass]="product.active? 'activeProduct': 'outOfStock'">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>{{product.name}}</mat-card-title>
    </mat-card-header>
      <mat-card-content>
        <app-picture *ngIf="product.image" [image]="product.image"></app-picture>
        <add-to-cart *ngIf="product.image" [item]="createCartItem()" [custom]="true">
        </add-to-cart>
      </mat-card-content>
    <mat-card-actions *ngIf="isAdmin">
      <button mat-raised-button id="editProduct"
              (click)="editProduct(product)">
        Edit
      </button>
      <button mat-button *ngIf="product.active" (click)="switchState()">OutOfStock</button>
      <button mat-button *ngIf="!product.active" (click)="switchState()">InStock</button>
      <button mat-button (click)="selectImage()">Choose image</button>
      <input #imageInput
             id="imageInput"
             style="visibility: hidden"
             type="file"
             accept="image/*"
             (change)="processFile(imageInput)">
    </mat-card-actions>
  </mat-card>
  <button mat-raised-button>Add product</button>
</div>
