.example-card {
  max-width: 30%;
}

.outOfStock {
  opacity: 0.3;
}

.activeProduct {
  height: 80%;
  width: 80%;
}

.inputContainer{
  display: -webkit-flex; /* Safari */
  -webkit-flex-wrap: wrap; /* Safari 6.1+ */
  display: flex;
  flex-wrap: wrap;
  padding: 0;
}

.title {
  font-size: 0.85em;
}
.amount {
  font-size: 11px;
  color: rgba(0,0,0,.54);;
}

.inputElement{
  height: 100%;
  width: 100%;
}
