<add-to-cart [item]="createCartItem()" [custom]="true">
  <mat-card [ngClass]="product.active? 'activeProduct': 'outOfStock'">
    <mat-card-header>
      <mat-card-title class="title">{{product.name}}</mat-card-title>
      <mat-card-subtitle class="title">{{product.description}}</mat-card-subtitle>
      <app-picture [image]="product.image"></app-picture>
    </mat-card-header>
<!--    <mat-card-content>-->
<!--      Ingrediente: ciocolata, lapte-->
<!--    </mat-card-content>-->
    <mat-card-actions *ngIf="isAdmin">
      <button mat-raised-button id="editProduct"

              (click)="editProduct(product)">
        Edit
      </button>
      <button mat-button *ngIf="product.active" (click)="switchState()">OutOfStock</button>
      <button mat-button *ngIf="!product.active" (click)="switchState()">InStock</button>
      <div class="mat-card inputContainer">
        <input #imageInput
               id="imageInput"
               style="opacity: 0%"
               class="inputElement"
               type="file"
               accept="image/*"
               (change)="processFile(imageInput)">
      </div>
      <button mat-mini-fab (click)="deleteProduct(product)">-</button>
    </mat-card-actions>
    <div class="amount centerElement">{{displayPrice()}} RON</div>
  </mat-card>
</add-to-cart>
