/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body {
  font-family: Roboto, Arial, sans-serif;
  margin: 0;
}

.basic-container {
  padding: 30px;
}

.version-info {
  font-size: 8pt;
  float: right;
}

.centerElement {
  display: block;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  margin-bottom: 0.5%;
}

.absoluteCenter {
  display: block;
  text-align: center;
  margin: auto;
  width: 60%;
  height: 60%;
}

.floatRight {
  float: right;
}

.floatLeft {
  float: left;
}

.bottomPadding {
  padding-bottom: 3%;
}

