/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body {
  font-family: Roboto, Arial, sans-serif;
  margin: 0;
}

.basic-container {
  padding: 30px;
}

.version-info {
  font-size: 8pt;
  float: right;
}

.centerElement {
  display: block;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  margin-bottom: 0.5%;
}

.absoluteCenter {
  display: block;
  text-align: center;
  margin: auto;
  width: 60%;
  height: 60%;
}

.floatRight {
  float: right;
}

.floatLeft {
  float: left;
}

.bottomPadding {
  padding-bottom: 3%;
}

.flex-container {
  padding: 0;
  margin: 0;
  list-style: none;

  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  -webkit-flex-flow: row wrap;
  justify-content: space-around;
}

.flex-item {
  background: tomato;
  padding: 5px;
  width: 200px;
  height: 150px;
  margin-top: 10px;

  line-height: 150px;
  color: white;
  font-weight: bold;
  font-size: 3em;
  text-align: center;
}

