/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

body {
  font-family: Roboto, Arial, sans-serif;
  margin: 0;
}

.basic-container {
  padding: 30px;
}

.version-info {
  font-size: 8pt;
  float: right;
}

.centerElement {
  display: block;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  margin-bottom: 0.5%;
}

.absoluteCenter {
  display: block;
  text-align: center;
  margin: auto;
  width: 60%;
  height: 60%;
}

/*.background {*/
/*  color: rgb(219, 194, 145);*/
/*  background-color: rgba(219, 194, 145,.1);*/
/*}*/

.floatRight {
  float: right;
}

.floatLeft {
  float: left;
}

.bottomPadding {
  padding-bottom: 3%;
}

.money {
  font-size: 10px;
  color: rgba(255, 255, 255,.75);
}

.flex-container {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  list-style: none;

  -webkit-flex-flow: row wrap;
  justify-content: space-around;
}

.flex-item {
  padding: 5px;
  width: 50%;
  height: 130px;
  margin-top: 10px;
  flex-basis: auto;

  font-weight: bold;
  font-size: 3em;
}

